
  body{
    background-color:#1C1C1E ;
    font-family: Arial, Helvetica, sans-serif;
}
  p{
    color: #D3D3D4;
    text-align: center;
}
  a{
    color:#D3D3D4;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #243447;
}

li {
  float: left;
}

li a {
  display: block;
  color: #D3D3D4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #4FA9E6;
}
h1 {
  font-size: 50px;
  color: #D3D3D4;
  text-align: center;
}

h2 {text-align: center;
    color: #D3D3D4;
    font-size: 40px;
}
div {text-align: center;}
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #243447
  }
  .bottom-nav li {
        display: inline-block; /* Center list items horizontally */
      }
      .bottom-nav li a {
        padding: 10px 15px;
      }
  main {
    font-size: 20px;
  }

  .top{
    text-align: left;
  }
.left {
  max-width: 400px;
  float: left;
}


/* Left picture with fixed width */
.picture img {
  width: 500px;
  height: auto;
}
